* { margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: block;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1{ 
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


.mealContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/*
.input {
    justify-self:center;
    width: 20rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 13px;
    margin-bottom: 20px;
    border: 2px solid #f3f3f3;
    font-size: 16px;
    position: relative;
    left: 15rem;
}

button {
    padding: 13px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ff9800;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    left: 15rem;
    position: relative;
}

button:hover {
    background-color: #e68900;
}
*/
/*--------------------STYLING THE INNER HTML--------------------*/

.beef-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.beef-card img {
    max-width: 100%;
    border-radius: 10px;
}

img {
    width: 50%;
}

.meal-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.meal-description {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.meal-ingredients {
    font-size: 0.9rem;
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.youtube-button{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
